body {
    background-color:lightgreen;
}

hr {
    border-color: gray;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 10%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}